<div id="<%= dom_id card %>">
  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>

  <p>
    <strong>Pv:</strong>
    <%= card.pv %>
  </p>

  <p>
    <strong>Attaque:</strong>
    <%= card.attaque %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= card.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= card.image %>
  </p>

</div>
