  <!DOCTYPE html>
  <html>
    <head>
      <title>Webblog</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <link rel="stylesheet" href="style.css">
    </head>

    <body style="overflow-x: hidden; background-color: #202020; color: white;">
  <nav class="navbar navbar-expand-lg" style="background-color: #202020; border-bottom: 1px solid #393939">
    <div class="container-fluid">
      <!--<a class="navbar-brand" href="#" style="margin-left: 150px; color: white;">Marvedex</a>-->
      <div style="width: 120px; margin-left: 150px; margin-right: 10px">
      <%= image_tag 'logomarvedex.jpg', class: 'img-fluid' %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page" href="#carte-scroll">Cartes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#">Articles</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-light" type="submit" style="margin-right: 150px;">Connectez-vous</button>
        </form>
      </div>
    </div>
  </nav>

  


  <footer class="bg-dark text-center text-lg-start" style="margin-top: 100px;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <div style="width: 120px; margin-right: 10px; margin-bottom: 10px;">
      <%= image_tag 'logomarvedex.jpg', class: 'img-fluid' %>
      </div>
          <p>Retrouvez tous nos contacts ici ! </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#!" class="text-light">Cartes</a></li>
            <li><a href="#!" class="text-light">Link 2</a></li>
            <li><a href="#!" class="text-light">Link 3</a></li>
            <li><a href="#!" class="text-light">Link 4</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
          <ul class="list-unstyled">
            <li><a href="#!" class="text-light">Link 1</a></li>
            <li><a href="#!" class="text-light">Link 2</a></li>
            <li><a href="#!" class="text-light">Link 3</a></li>
            <li><a href="#!" class="text-light">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Marvedex
    </div>
  </footer>

    
  <div style="margin-left: 150px; margin-top: 5%">
      <%= yield %> </div>
    <p></p>

    </body>
  </html>
